.Organizators{
    margin: 0 auto;
    padding: 30px;

    .centerContent{
        text-align: center;
        display: flex;
        align-items: center;
    }
    .AddIcon{
        margin: 10px 0 0 auto;
        
    }
}